# Python
venv/
__pycache__/
**/__pycache__/

*.py[cod]

# Secrets
.env

# JS/Build (если актуально)
node_modules/
.next/
dist/
build/

# OS
.DS_Store

# Do not commit the Tailwind binary
tailwindcss.exe
test/