{% set _coming_soon_paths = ['/register', '/registration'] %}
{% macro footer_link(path, label) -%}
{%- if path in _coming_soon_paths -%}
<span class="sb-footer__link sb-footer__link--disabled" aria-disabled="true"
    title="{{ t('siteb.nav.coming_soon_hint') }}">
    {{ label }}
    <span class="sb-footer__badge-text">{{ t('siteb.nav.coming_soon_badge') }}</span>
</span>
{%- else -%}
<a class="sb-footer__link" href="{{ path }}">{{ label }}</a>
{%- endif -%}
{%- endmacro %}

<footer class="sb-footer">
    <div class="sb-footer__backdrop" style="background-image:url('{{ theme('img/footer/footer-bg.png') }}');"></div>

    <div class="sb-footer__inner">
        <div class="sb-footer__sections">
            <div class="sb-footer__section sb-footer__brand">
                <div class="flex items-center justify-start sm:justify-center pb-4">
                    <img src="{{ theme('img/footer/logo-white.png') }}"
                        class="h-[64px] sm:h-[72px] w-auto object-contain" loading="lazy" />
                </div>
                <p class="sb-footer__tagline">
                    {{ t('siteb.footer.tagline') }}
                </p>
                <div class="sb-footer__social">
                    <a href="https://www.facebook.com/yourpage" target="_blank" rel="noopener"
                        aria-label="{{ t('siteb.footer.social.facebook') }}" class="sb-footer__social-link">
                        <img src="{{ theme('img/footer/facebook.svg') }}" alt="{{ t('siteb.footer.social.facebook') }}"
                            class="sb-footer__social-icon" />
                    </a>
                    <a href="https://www.instagram.com/yourpage" target="_blank" rel="noopener"
                        aria-label="{{ t('siteb.footer.social.instagram') }}" class="sb-footer__social-link">
                        <img src="{{ theme('img/footer/instagram.svg') }}"
                            alt="{{ t('siteb.footer.social.instagram') }}" class="sb-footer__social-icon" />
                    </a>
                    <a href="https://www.linkedin.com/yourpage" target="_blank" rel="noopener"
                        aria-label="{{ t('siteb.footer.social.linkedin') }}" class="sb-footer__social-link">
                        <img src="{{ theme('img/footer/linkedin.svg') }}" alt="{{ t('siteb.footer.social.linkedin') }}"
                            class="sb-footer__social-icon" />
                    </a>
                </div>
            </div>

            <nav class="sb-footer__section sb-footer__links">
                <h3 class="sb-footer__title">{{ t('siteb.footer.nav_title') }}</h3>
                <ul class="sb-footer__list">
                    <li>{{ footer_link('/about-the-forum', t('siteb.footer.about_forum')) }}</li>
                    <li>{{ footer_link('/about-the-expo', t('siteb.footer.about_expo')) }}</li>
                    <li>{{ footer_link('/agenda', t('siteb.footer.agenda')) }}</li>
                    <li>{{ footer_link('/news', t('siteb.footer.news')) }}</li>
                </ul>
            </nav>

            <div class="sb-footer__section sb-footer__links">
                <h3 class="sb-footer__title">{{ t('siteb.footer.quick_title') }}</h3>
                <ul class="sb-footer__list">
                    <li>{{ footer_link('/official-support', t('siteb.footer.official_support')) }}</li>
                    <li>{{ footer_link('/register', t('siteb.footer.registration')) }}</li>
                    <li>{{ footer_link('/faq', t('siteb.footer.faq')) }}</li>
                </ul>
            </div>

            <address class="sb-footer__section sb-footer__contact">
                <h3 class="sb-footer__title">{{ t('siteb.footer.contact_title') }}</h3>
                <ul class="sb-footer__list">
                    <li>{{ t('siteb.footer.address') }}</li>
                    <li class="sb-footer__contact-item">
                        <img src="{{ theme('img/footer/mail.svg') }}" alt="{{ t('siteb.footer.contact.mail_alt') }}"
                            class="sb-footer__contact-icon" />
                        <a href="mailto:info@travel-turkmenistan.com">info@travel-turkmenistan.com</a>
                    </li>
                    <li class="sb-footer__contact-item">
                        <img src="{{ theme('img/footer/phone.svg') }}" alt="{{ t('siteb.footer.contact.phone_alt') }}"
                            class="sb-footer__contact-icon" />
                        <a href="tel:+99361480080">+99361 480 080</a>
                    </li>
                </ul>
            </address>
        </div>

        <div class="sb-footer__divider"></div>

        <div class="sb-footer__bottom">
            <span class="sb-footer__legal">
                {{ t('siteb.footer.rights_prefix') }} 2025 |
                {{ footer_link('/terms', t('siteb.footer.terms')) }} |
                {{ footer_link('/privacy', t('siteb.footer.privacy')) }} |
                <a class="sb-footer__link" href="https://hebent.tech" target="_blank" rel="noopener">
                    {{ t('siteb.footer.powered_by') }}
                    <img src="{{ theme('img/footer/rotating-logo.gif') }}" alt="{{ t('siteb.footer.badge_alt') }}"
                        class="sb-footer__badge rotating-icon" />
                </a>

            </span>
        </div>
    </div>
</footer>