{% extends "base.html" %}

{% block content %}
{% include "index/_hero.html" %}
{% include "index/_sponsors.html" %}
{% include "index/_about_the_event.html" %}
{% include "index/_statistics.html" %}
{% include "index/_expo_sectors.html" %}
{% include "index/_timer.html" %}
{% include "index/_speakers.html" %}
{% include "index/_news.html" %}
{% include "index/_faq.html" %}
{% with data=organizers_data %}
{% include "index/_organizers.html" %}
{% endwith %}
{% include "index/_partners.html" %}

{% endblock %}