{% extends "base.html" %}

{% block content %}

{% include themed("index/_hero.html") %}
{% include themed("index/_sponsors.html") %}
{% include themed("index/_about_the_event.html") %}
{% include themed("index/_statistics.html") %}
{% include themed("index/_expo_sectors.html") %}
{% include themed("index/_timer.html") %}
{% include themed("index/_speakers.html") %}
{% include themed("index/_news.html") %}
{% include themed("index/_faq.html") %}

{% with data=organizers_data %}
{% include themed("index/_organizers.html") %}
{% endwith %}

{% include themed("index/_partners.html") %}

{% endblock %}